<div class="row">
  <div class="col-lg-2">
    <div class="d-grid">
      <button
        class="btn btn-primary btn-block"
        type="button"
        (click)="backToHome()"
      >
        Back to home
      </button>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-lg-2">
    <div class="card border-secondary mb-3">
      <div class="card-header h3 text-muted text-center">User</div>
      <div class="card-body" style="min-height: 555px">
        <div class="row mt-1" *ngFor="let user of service.onlineUsers">
          <div class="col">
            <div class="d-grid">
              <button
                type="button"
                class="btn btn-success card-text btn-block"
                [ngClass]="{
                  'btn-success': user === service.currentName,
                  'btn-dark': user !== service.currentName
                }"
                [disabled]="user === service.currentName"
              >
                {{ user }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-9">
    <div class="card border-secondary">
      <div class="card-header h3 text-muted text-center">Message</div>
      <div class="card-body" style="height: 500px">
        <app-chat-message [messages]="this.service.message"></app-chat-message>
      </div>
      <div class="card-footer">
        <app-chat-input (contentEmitter)="SendMessage($event)"></app-chat-input>
        <!-- <form autocomplete="off">
          <div class="row">
            <div class="col-9">
              <input
                type="text"
                class="form-control"
                placeholder="Send message"
              />
            </div>
            <div class="col-3">
              <div class="d-grid">
                <button class="btn btn-dark btn-block" type="submit">
                  Send
                </button>
              </div>
            </div>
          </div>
        </form> -->
      </div>
    </div>
  </div>
</div>
